/*** link styling ***/
a:img {
  border: none;
}
a:link {
  text-decoration: none;
  color:#b54705;
  font-weight: 500;
  
}

a:visited {
  color:#2F22AA;
}
a:hover {
  color: #fff;
  background-color: #730e01;
  /*background-color: #392307;*/
}

a:active {
  color: #66a7c5;
  background-color: #392307;
}

a.topmenu, a.topcurrent {
  background-color: #e5e5e5;
  padding: 0.2em 0.6em;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

a.bottommenu, a.bottomcurrent {
  background-color: #fff68f;
  padding: 0.2em 0.6em;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

a.topmenu:link, a.bottommenu:link {
  text-decoration: none;
  color: #111;
 
}
a.topmenu:visited, a.bottommenu:visited {
  text-decoration: none;
  color: #111;
}
a.topmenu:hover, a.bottommenu:hover  {
  color: #fff;
  background-color: #730e01;
  font-weight: bold;
}

/* current visiting link*/
/* no decoration links */
a.topcurrent:link,a.bottomcurrent:link  {
  text-decoration: none;
  color: #730e01;
  font-weight: bold;
}
a.topcurrent:visited, a.bottomcurrent:visited, a.nodec:visited {
  text-decoration: none;
  color: #730e01;
  
}

a.nodec:link {
  text-decoration: none;

}

a.nodec:visited {
  text-decoration: none;
}

a.nodec:hover {
  color: #fff;
  background-color: #e0ffff;
}


