/*** list styling ***/
ul{
padding:0;
margin: 0em;

list-style:none;
}
ul.disc{
  list-style-type:disc
}

ul.square{
  list-style-type:square;
  padding-left:1em;
}
ul.topmenu{
  margin: 0em;
}
ul.bottommenu{
  margin: 0em;
}
ol{ /* numbered list */
float:left;
width:100%;
padding: 0.5em;
margin: 1em;
margin-bottom: 2em;
}
li {
line-height: 130%;
padding:0.24em;
margin-bottom: 0em;
}
li.menu {
  display:inline;
}
