html, body {
  /* below provides a centered page*/
  width:1000px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  margin: auto;

  /* below deals with the default font and text alignment*/  
  font-family: 'Open sans';
  color: #000;
  font-size: 18px;
  text-align: top;
  background-color: #fff;


}


hr {
  padding:0;
  margin:0;
  
  color: #eee;
}


h1 {
  font-size: 2.5em;
  font-weight: 100;
  color: #3b3b3b;
  margin: 0em;
  /*border-bottom: 1px solid #ddd;*/
  /*letter-spacing: 0.1cm*/
}

h2 {font-size:1.875em; }
h3 {font-size:1.5em; margin-bottom:0.5em;}
h4 {font-size:1em; margin:0em; color:black}
h5 {font-size:0.8em; margin:0em; color:black}

/* image */
img.floatLeft { 
    float: left; 
    margin:0 10px 0 0px;
}
img.floatRight { 
    float: right; 
    margin:0 0 0 10px;
}
img.floatTop { 
    float: top; 
    margin: 0em;
}



/*** DIV layout styling ***/

/* for the press*/
#div1 {position:inherit; width: 100%;} /*visibility:hidden}*/

/* top navigation menu box */
#topnav 
{
  z-index:-2;
  padding: 0em;
  background-color: #fff;
  letter-spacing: 0.02cm;
/*  margin-top: -17px; */
  margin-top: 52px;
  margin-left: 2px;
  font-size: 14px;
  float:left;

  /*border-bottom: 1px solid #ccc;*/
}
/* bottom navigation menu box */
#bottomnav 
{
  padding: 0em;
  background-color: #fff;
  letter-spacing: 0.02cm;
  margin-top: 3px;
  margin-right:-6px;
  font-size: 14px;
  float:right;

  /*border-bottom: 1px solid #ccc;*/
}

/* site banner box */
#banner 
{
  font-size: 3em; 
  padding: 0em;
  margin-top: 10px;
  background-color: #fff;
  color: #5b4e3c;
  text-align:right;
}

#topbanner 
{
  font-size: 3em; 
  padding: 0em;
  margin-top: 10px;
  background-color: #fff;
  color: #5b4e3c;
  text-align:right;
}

#bottombanner 
{
  font-size: 3em; 
  padding: 0em;
  margin-top: 10px;
  background-color: #fff;
  color: #5b4e3c;
  text-align:right;
}


#container
{
  /*text-align:left;*/
  vertical-align: top; 
  color: #000;
  /*line-height: 150%;  increase readability */
  /*border-top: 1px outset #ddd;
  border-left: 1px outset #ddd;
  border-right: 3px outset #ccc;
  border-bottom: 3px outset #ccc;*/
  padding: 0em;
  margin-left: 0.1em;
  /*-moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;*/
  /*-moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;*/
  /*background-color: #92C7C7;*/
  /*border-left: 1px solid #777;*/
  border-top: 2px solid #3f0d03;
  width: 100%;
  border-bottom: 2px solid #3f0d03;
   /*width: 100%;*/

}

#leftcontent /*left side box*/
{
  float:left;
  width: 650px;
}

#rightpane
{
  /*position: static;*/
  /*does not control position of the bottomnav and line at the bottom of container; make sure not too much text rel to midpane*/ 
  width: 100%;
  vertical-align: top;
  margin-right: 30px;
 /* 
  margin:0 0 0 50px;*/
  float:right;
  /*left:651px;*/
  top:60px;
  z-index:1;
  width: 340px;
  
}
#bottom
{
  vertical-align:bottom;
}
#imagepadding
{
  padding: 1em;
}
#midpane /* wide middle box, n.b. controls height of container box*/
{
  float:left;
  background-color: #fff;
  width:100%;
  padding-bottom:0px;
}
#footer
{
  float:left;
  color: #ccc;
  width:100%;
}

#title
{
  font-size:14px;
  clear: both;
  margin: 0em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-align: left;
  line-height:150%;

}
/*press page*/
#press
{
  font-size:14px;
  margin-left: 20px;
  margin-bottom:20px;
  padding: 0.2em;
  text-align: left;
  line-height:150%;
  width: 600px;
  /*border: 1px solid black;*/
}

/*big main details page*/
#big_main
{
  font-size:20px;
  margin-left: 20px;
  margin-bottom:20px;
  margin-top:10px;
  margin-right:10px;
  width:100%;
  padding: 0.2em;
  line-height:130%;
  text-align:right;
  /*border: 1px solid black;*/
}
/*home page caption*/
#caption
{
  font-size:14px;
  margin-left: 10px;
  margin-bottom:20px;
  padding: 0.2em;
  text-align: left;
  line-height: 130%;
  width: 600px;
  /*border: 1px solid black;*/
}
/*home page caption*/
#rightcaption
{
  font-size:14px;
  margin-left: 10px;
  margin-bottom:20px;
  padding: 0.2em;
  text-align: left;
  line-height: 130%;
}  

/*publication page*/
#journal
{
  font-size:12px;
  clear: both;
  margin-right: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-align: left;
  line-height:150%;
}

#abstract
{
  font-size:14px;
  clear: both;
  margin-right: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  text-align: left;
  line-height:150%;
}
/*software tool page*/
#software
{
  font-size:12px;
  padding: 0em;
  margin: 0em;
  text-align: left;
  line-height:150%;
  vertical-align:top;
}
#softwareIndent
{
  margin: 1em;
}
#softwareMed
{
  
  font-size:13px;
  margin: 1em;
  text-align: left;
  line-height:150%;
  vertical-align:top;
}
#leftTool
{
  float: left;
  font-size:14px;
  margin-left: 20px;
  margin-bottom:20px;
  padding: 0.5em;
  text-align: left;
  line-height:150%;
  width: 250px;
  height: 300px;
  border: 1px solid #666;
}
/*lab member page*/
#people
{
  font-size:14px;
  margin-left: 20px;
  margin-bottom:20px;
  padding: 0.2em;
  text-align: left;
  line-height:150%;

  /*border: 1px solid black;*/
}

#peopleDir
{
  font-size:14px;
  padding: 0.5em;
  text-align: left;
  line-height:150%;
  width: 290px;

  /*border: 1px solid black;*/
}

.fontTitle{
  font-size: 18px;
  color: #222;
}


#email{
  font-family: Courier, monospace;
  font-size: 10pt;
  color:blue;
}
#copy
{
  float:right;
  color: #ccc;
  font-size: 11pt;
  padding: 5px;
}