a:link {
	color: #FFCC00;
	text-decoration: none;

}
a:visited {
	color: #00FFFF;
	text-decoration: none;

 }
a:hover {
	text-decoration: underline;
	color: #FF00FF;
 }
a:active {
	text-decoration: underline;
	color: #FFFFFF;
 }h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	color: #FF0000;
}
small {
	font-size: 12px;
}
body {
	background-color: #0033CC;
	background-image: url(isbg.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: normal;
	color: #000000;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: static;
	background-position: top center;
	border: thin solid #000000;
	table-layout: fixed;
	

}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #0000FF;

}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;

}
